* {
  box-sizing: border-box;
}

body {
  font-family: "Space mono", sans-serif;
  background-color: hsl(185, 41%, 84%);
}

.title {
  display: flex;
  justify-content: center;
  color: hsl(186, 14%, 43%);
  letter-spacing: 0.5em;
}

.calculator-container {
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  margin: 130px 0px 0px;
  padding: 20px;
}

.bill-container {
  padding: 20px;
}

.bill-input {
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  font-family: "space mono";
  font-size: larger;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: solid hsl(189, 41%, 97%);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  text-align: right;
}

.tip-percentage-container {
  padding: 20px;
}

.percentage-button-container {
}

.custom-percentage {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: solid 1px hsl(189, 41%, 97%);
  border-radius: 5px;
  font-family: "space mono";
  width: 45%;
  /* height: 45px; SET AS 2 by 3 */
  font-size: x-large;
  text-align: center;
  margin: 5px;
}

.custom-percentage:focus {
  border: solid 2px hsl(172, 67%, 45%);
}

.percentage {
  background-color: hsl(183, 100%, 15%);
  color: white;
  border: solid 1px hsl(183, 100%, 15%);
  border-radius: 5px;
  font-family: "space mono";
  width: 45%;
  font-size: x-large;
  margin: 5px 0px;
}

.percentage:hover {
  background-color: hsl(172, 67%, 45%);
  border: 1px solid hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  cursor: pointer;
}

.percentage:active {
  color: hsl(183, 100%, 15%);
}

.num-people-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.num-people-input {
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  font-family: "space mono";
  font-size: larger;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: solid hsl(189, 41%, 97%);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  text-align: right;
}

.tip-total-container {
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

h3 {
  color: hsl(186, 14%, 43%);
}

input:focus {
  border: solid 2px hsl(172, 67%, 45%);
}

input:hover {
  cursor: pointer;
}

.tip-amount-title,
.total-bill-amount-title {
  color: white;
  font-size: 1em;
}

.tip-amount,
.total-bill-amount {
  color: hsl(172, 67%, 45%);
  float: right;
  font-size: 2em;
}

.per-person {
  color: hsl(186, 14%, 43%);
}

.reset-btn {
  font-family: "Space mono";
  font-size: larger;
  text-transform: uppercase;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: solid 1px hsl(183, 100%, 15%);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.reset-btn:hover {
  background-color: hsl(185, 41%, 84%);
  cursor: pointer;
}
